name: Build And Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup deps
        run: |
          sudo apt-get update
          sudo apt-get install build-essential cmake

      - name: CMake config
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DEMDEVIF_TEST_FRAMEWORK_ENABLE_TEST=ON -DEMDEVIF_TEST_FRAMEWORK_TEST_NAME="integration_test" --debug-output
      - name: CMake build
        run: cmake --build build --verbose
      - name: ctest
        run: cd build && ctest . --verbose

  on-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Add MSVC to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: CMake config
        run: cmake -G "Visual Studio 17 2022" -A x64 -S . -B build -DCMAKE_BUILD_TYPE=Release -DEMDEVIF_TEST_FRAMEWORK_ENABLE_TEST=ON -DEMDEVIF_TEST_FRAMEWORK_TEST_NAME="integration_test" --debug-output
      - name: CMake build
        run: cmake --build build --verbose --config Release
      - name: ctest
        run: cd build && ctest . --verbose -C release
